body {
    background-color:linen;
}

.heading {
    text-align: center;
}

.container{
    display:flex;
    justify-content: center;
    
}

.button-container {
    display:flex;
    justify-content: center;
}

.gridDiv {
    /* display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto 
    auto auto auto auto auto auto; */
    max-height: 500px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.cell {
    box-sizing: border-box;
    border: 1px solid black
}
.hover-color {
    background-color: coral;
}
