

.container{
    display:flex;
    justify-content: center;
    
}

.gridDiv {
    /* display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto 
    auto auto auto auto auto auto; */
    max-height: 500px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.cell {
    border: solid black;
    /* padding: 20px; */
}

.hover-color {
    background-color: coral;
}
