body {
    background-color: #F5F5F5; 
}

.heading {
    text-align: center;
}

.center-content {
    display:flex;
    justify-content: center;
}

.container{
    display:flex;
    justify-content: center;
    flex-shrink: 0;
}

.left-container,
.right-container {
    flex-basis: 200px
}

.left-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.left-heading {
    align-items: right;
}

.color-button {
    padding: 5px 0px;
    width: 80px;
}

.gridDiv {
    /* display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto 
    auto auto auto auto auto auto; */
    max-height: 500px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-bottom: 30px;
}

.cell {
    box-sizing: border-box;
    border: 1px solid black
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.change-button {
    border-radius: 4px;
    padding: 10px 0px;
    width: 115px;
}
